body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0; padding: 0;
  color: rgb(105, 67, 46);
  font-family: 'Agdasima', sans-serif;
}
html {
  scroll-behavior: smooth; 
}

* {
  box-sizing: border-box;
}

.header {
  white-space: nowrap;
}
.container {
  background-color: rgba(226, 199, 76, 0.4);
}

.nav {
  max-width: 1440px;
  margin: 0 auto;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  transition: .3s;
  text-decoration: none;
  color: rgb(201, 144, 21);
  font-size: larger;
}
a:hover {
  background: #f666;
  color: white;
}
.main {
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  max-width: 90vw;
}
.footer {
  word-spacing: 850px;
}